# Entornos virtuales
venv/
venv*/
.env
.env.prod
.env.local

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Node/React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
build/
dist/

# Docker
data/
*.env
docker-compose.override.yml